body
{
    background-size: cover;
}
#start ,#number_of_objects, #status
{
    font-size: 18px;
}
.copy_right_footer
{
position: fixed;
color: rgb(208, 114, 114);
bottom: 0;
width: 100%;
background-color: rgb(226, 208, 208);
line-height: 3;
text-align: center;
}
canvas
{
border:2px solid white;
border-radius: 10px;
margin-top: 130px;
box-shadow: 5px 5px 5px white;
}
#label
{
    color: rgb(163, 240, 211);
}
span{
    color:rgb(235, 169, 231);
    font-size: 13px;
    font-family: cursive;
}